.span__error_card-number {
    font-size: small;
    font-weight: bolder;
    color: var(--ion-color-danger);
    margin-left: 16px;
    margin-bottom: 20px;
    display: block;
  }
  .position{
    position: absolute;
    right: 5px;
    top: 2px;
  }