.miadd{
    width: 40%;
    margin: 0 auto;
}
.grid-position{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
ion-content{
    --background: none;
    background-color: var(--ion-color-light);
    background-image: url('/assets/img/fondohome.png');
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position: center ;
    width: 100% ;
    height: 100%;
  }