<app-header [title]="'Comanda'+ id" [modal]=true></app-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="7">
                <ion-searchbar placeholder="Ej: Juan" mode="ios" (ionChange)="onSearchChange($event)" [debounce]="500"></ion-searchbar>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
                <img src="/assets/icon/adduser.png" alt="" width="30%" (click)="newuser()">
            </ion-col>
            <ion-col size="3">
                <ion-button size="large" expand="block" (click)="publico()">
                    Publico Gen.
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br>
    <ion-list *ngIf="Clientes.length>=1" class="list-clientes">
        <ion-list-header>
            <h1>Lista de Clientes</h1>
        </ion-list-header>
        <ion-item class="myitem" *ngFor="let item of Clientes" (click)="seleccion(item)">
            <ion-label> {{item.nombre}} {{item.apellidos}} </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
